[submodule "current/site"]
	path = current/site
	url = https://github.com/AerifySIM/aerify.git
[submodule "supabase"]
	path = supabase
	url = https://github.com/AerifySIM/aerify-backend.git
[submodule "app"]
	path = app
	url = https://github.com/AerifySIM/app.git

